branches:
  - main
plugins:
  - "@semantic-release/commit-analyzer"
  - "@semantic-release/release-notes-generator"
  - - "@google/semantic-release-replace-plugin"
    - replacements:
        - files:
            - "./build.gradle.kts"
          from: "version = \".*\""
          to: "version = \"${nextRelease.version}\""
  - - "@semantic-release/git"
    - assets:
        - "build.gradle.kts"
  - - "@semantic-release/github"
    - assets:
        - "./advanced-kotlin-debug.apk"
        - "./ApiDemos-kotlin-debug.apk"
options:
  debug: true
